header {
    background: #f8f9fa;
}
footer {
    background: #f8f9fa;
    text-align: center;
    margin-top: 20px;
}
nav {
    margin-bottom: 20px;
}
.form-check {
    margin-bottom: 10px;
}
.name_and-photo {
    display: flex;
    justify-content: space-between;
}
.photo-candidate {
    display: grid;
    grid-template-columns: 85% 20%;
    grid-gap: 15px;
    padding: 5px 0;
}