<header th:replace="header"></header>
<menu th:replace="menu"></menu>
<div class="container">
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Регистрация.
            </div>
            <div class="card-body">
                <form th:action="@{/registration}" method="POST">
                    <input type="hidden" name="id" value="0">
                    <div class="form-group">
                        <label for="name" >Имя</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Введите имя">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Введите email">
                        <label for="password">Пароль</label>
                        <input type="password" name="password" id="password" placeholder="Введите пароль">
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer"></footer>