<header th:replace="header"></header>
<menu th:replace="menu"></menu>
<div class="container pt-3">
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Авторизация
            </div>
            <div class="card-body">
                <div th:if="${fail}" class="alert alert-danger" role="alert">
                    Логин или пароль введены не верно!
                </div>
                <form th:action="@{/login}" method="POST">
                    <div class="form-group">
                        <label>Почта</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="text" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer"></footer>