<header th:replace="header"></header>
<menu th:replace="menu"></menu>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
                <th scope="col">Добавлен</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post: ${posts}">
                <td th:text="${post.id}"></td>
                <td>
                    <a th:href="@{|/formUpdatePost/${post.id}|}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <span th:text="${post.name}"></span>
                </td>
                <td th:text="${post.description}"></td>
                <td th:text="${post.created}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="footer"></footer>