<header th:replace="header"></header>
<menu th:replace="menu"></menu>
<div class="container">
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Редактирование кандидата.
            </div>
            <div class="card-body">
                <form th:action="@{/updateCandidate}" method="POST" th:object="${candidate}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                        <label for="description">Описание</label>
                        <input type="text" class="form-control" name="name" id="description" th:field="*{description}">
                    </div>
                    <div class="form-group">
                        <label for="city.id">Город</label>
                        <select class="form-control" id="city.id" name="city.id">
                            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}" th:selected="${city.id} == *{city.id}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer"></footer>